/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Шапка */
header {
    background-image: url("img_tree.gif"), url("paper.gif");
    background-color: #cccccc;
    /* background: #1e2a47; */
    color: white;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Навигация */
nav {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1e90ff;
}

/* Контейнер для контента */
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

/* Секции */
.section {
    background: white;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.section:hover {
    transform: translateY(-5px);
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.details {
    margin-top: 20px;
}

.details img {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

/* Кнопки */
button.toggle-btn {
    background-color: #ff6347;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button.toggle-btn:hover {
    background-color: #e94e1b;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 80%;
}

.close-btn {
    font-size: 30px;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Форма контактов */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #1e90ff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0077ff;
}

/* Футер */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

